{% load static %}
<link rel="stylesheet" href="{%static 'materialize/css/materialize.min.css'%}">
<script src="{%static 'materilize/js/materialize.min.js'%}"></script>
<script>
function submitPhoto(){
  var item = document.getElementById('file').files[0];
  // todo check file extension
  var data = {file:item;
  console.log(data);
  $.ajax({
      url: '% url 'upload' %',
      type: 'POST',
      processData: false,
      contentType: false,
      data:data
  }).done(function (data) {
    console.log(data);
  });
}
</script>
<div class="container">
  {% if user.is_authenticated %}
    <h3>Welcome <b>{{ user }}</b>.</h3>
    <div class="row">
      <div class=" col s4">
    <a href="/logout" class="waves-effect waves-light btn">logout</a>
  </div>
  </div>
    <div class="row">
      <div class=" col s4">
    <a href="/parking" class="waves-effect waves-light btn">Parking</a>
    <a href="/ticket" class="waves-effect waves-light btn">Tickets</a>
    </div>
    </div>
{% else %}
    <h3>Welcome, new user. <b>Please log in.
      <i>or else! </i>
    </b>
    </h3>

    <div class="row">
      <div class=" col s4">
      <a href="/login" class="waves-effect waves-light btn">~LOGIN~</a>
    </div>
    </div>
{% endif %}
<p>This is the homepage for now</p>
<div id="well">
  <form method="post" enctype="multipart/form-data">
 {% csrf_token %}
   <input type="file" name="myfile" id="file">
   
<div class="row">
<button type="submit" class="btn">Upload</button>
</div>
</form>
</div>
