{% load static %}
<link rel="stylesheet" href="{%static 'materialize/css/materialize.min.css'%}">
<script src="{%static 'materilize/js/materialize.min.js'%}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
var form = document.getElementById('file-form');
$("#check-btn")
  .on("click", function(event) {
  event.preventDefault();
  var item = document.getElementById('file').files[0];
  // todo check file extension
  var content = {file:item, "Cat":"cat"};
  console.log(content);
  $.ajax({
      url: '{% url "check" %}',
      type: 'POST',
      processData: false,
      contentType: false,
      data:content
  }).done(function (data) {
    console.log("asdf");
    console.log(data);
      console.log("asdf");
  });
});
});
// function submitPhoto(event){
//   event.preventDefault();
//
// }
</script>
<div class="container">
  {% if user.is_authenticated %}
    <h3>Welcome <b>{{ user }}</b>.</h3>
    <div class="row">
      <div class=" col s4">
    <a href="/logout" class="waves-effect waves-light btn">logout</a>
  </div>
  </div>
    <div class="row">
      <div class=" col s4">
    <a href="/parking" class="waves-effect waves-light btn">Parking</a>
    <a href="/ticket" class="waves-effect waves-light btn">Pending Citations</a>
    <a href="/ticket" class="waves-effect waves-light btn">Failed Image</a>
    </div>
    </div>
{% else %}
    <h3>Welcome, new user. <b>Please log in.
      <i>or else! </i>
    </b>
    </h3>

    <div class="row">
      <div class=" col s4">
      <a href="/login" class="waves-effect waves-light btn">~LOGIN~</a>
    </div>
    </div>
    <div class="row">
      <div class=" col s4">
    <a href="/parking" class="waves-effect waves-light btn">Parking</a>
    </div>
    </div>
{% endif %}
<p>This is the homepage for now</p>
<div id="well">

<div class="row">

  {% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button id="check-btn" class="btn" type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
{% endblock %}
<!-- <button id="check-btn" class="btn">Upload</button> -->
</div>
</div>
