{% load static %}
<link rel="stylesheet" href="{%static 'materialize/css/materialize.min.css'%}">
<script src="{%static 'materilize/js/materialize.min.js'%}"></script>

<div class="row">
  <div class=" card blue-grey darken-1 col s8 offset-s2">
    <div class="card-content white-text">
      <table>
        <thead>
          <tr class="white-text">
              <th>Parking lot</th>
              <th>Est. Open Spots</th>
              <th>Est. % empty</th>
          </tr>
        </thead>

        <tbody class="white-text">
          {% for lot in lots %}
          <tr>
            <td>{{ lot.name }}</td>
            <td>{{ lot.open }}</td>
            <td>{% widthratio lot.open lot.max_spots 1 %}%</td>
          </tr>
          {% endfor %}
          <tr>
            <td>lot 4</td>
            <td>5</td>
            <td>1.3%</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
