{% load static %}
<link rel="stylesheet" href="{%static 'materialize/css/materialize.min.css'%}">
<script src="{%static 'materilize/js/materialize.min.js'%}"></script>

<div class="row">
  <div class=" card blue-grey darken-1 col s8 offset-s2">
    <div class="card-content white-text">
      <table>
        <thead>
          <tr class="white-text">
              <th>Parking lot</th>
              <th>Scanned Spots</th>
              <th>Est. Open Spots</th>
              <th>Est. % empty</th>
          </tr>
        </thead>

        <tbody class="white-text">
          {% for lot in lots %}
          <tr>
            <td>{{ lot.lot_name }}</td>
            <td>{{ lot.spots_scanned }}</td>
            <td>{{ lot.spots_empty }}</td>
            <td>{{ lot.confRatio }}%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
