{% load static %}
<link rel="stylesheet" href="{%static 'materialize/css/materialize.min.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="{%static 'bootstarp/js/bootstrap.min.js'%}"></script> -->
<script src="{%static 'materialize/js/materialize.min.js'%}"></script>
<script>

function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});

function deleteRow(pk){
  url = '/correct/'+pk;
  $.ajax({
      url: url ,
      type: 'POST',
      data:{'delete':true}
  }).done(function(data){
  $('#'+pk).remove();
  });
}

function submitRow(pk){
  if (!$('#plate'+pk).val()){
    alert("Car needs a plate number!");
  }else if (!$('#fine'+pk).val() && parseFloat($('#fine'+pk).val()) > 0 ) {
    alert("Car needs a Positive Fine amount!");
  }else{
    url = '/correct/'+pk;
    $.ajax({
        url: url ,
        type: 'POST',
        data:{
          'delete':false,
          'plate':$('#plate'+pk).val(),
          'fine':$('#fine'+pk).val()
        }
    }).done(function(data){
    $('#'+pk).remove();
    });
  }

}


  $(function(){
    $('.modal').modal();
    $('.modal-trigger').click(function(){
      $('.modal-content').html('<img src='+this.id +' class="alt="Car Image">');
    });
 });
</script>
<style>

 img{
   width: 80%;
 }
</style>
<div class="row">
  <div class=" card blue-grey darken-1 col s8 offset-s2">
    <div class="card-content white-text">
      <table>
        <thead>
          <tr class="white-text">
              <th>ID</th>
              <th>Car</th>
              <th>Photo</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Message</th>
              <th>Update</th>
              <th>Ignore</th>
          </tr>
        </thead>

        <tbody class="white-text">
          {% for ticket in tickets %}
          <tr id='{{ticket.pk}}'>
            <td>{{ ticket.pk }}</td>
            <td><input type="text" default='{{ticket.ticketed_car}}' id='plate{{ticket.pk}}'></td>
            <td><a class="waves-effect waves-light btn modal-trigger" id="/media/{{ ticket.photo }}" href="#modal1">Photo</a></td>
            <td>
              <div class="input-field">
              <i class=" prefix">$</i>
          <input type='text' default = "20" id="fine{{ticket.pk}}"/>
            </div>
            </td>
            <td>{{ ticket.message }}</td>
            <td>{{ ticket.date}}</td>
            <td><a class="waves-effect waves-light btn modal-trigger" onclick="submitRow({{ticket.pk}})">Submit</a></td>
            <td><button class='red darken-2 btn-flat' onclick="deleteRow({{ ticket.pk }})">Ignore</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>


  <div id="modal1" class="modal">
      <div class="modal-content center-align">

      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
